/*================main====================*/
#large-header {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; }
  #large-header #demo-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

main .des {
  text-align: left;
  width: 100%; }
  main .des td {
    font-size: .7rem !important;
    font-weight: 300 !important;
    position: relative;
    padding: 3px 0;
    width: 50%;
    color: #3eb5a7; }
    main .des td + td {
      text-align: right; }
main #our-product {
  background-image: -webkit-linear-gradient(left, #3eb6a7, #3f7ec0);
  background-image: -o-linear-gradient(left, #3eb6a7, #3f7ec0);
  background-image: linear-gradient(to right, #3eb6a7, #3f7ec0);
  padding-bottom: 50px;
  margin-top: 50px; }
main .wrapper {
  margin-top: 50px; }
  main .wrapper .product-title h2 {
    font-size: 2rem;
    text-align: center;
    color: #fff; }
  main .wrapper .list-product {
    margin-top: 50px; }
    main .wrapper .list-product .product {
      background-color: #fff;
      border-radius: 20px;
      padding: 10px;
      position: relative;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4); }
      main .wrapper .list-product .product .title h3 {
        color: #3eb6a7; }
      main .wrapper .list-product .product::after {
        content: "f103";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        color: #fff; }
      main .wrapper .list-product .product .icon-product {
        width: 46.35%;
        margin: 0 auto; }
      main .wrapper .list-product .product .title {
        margin-top: 10px; }
        main .wrapper .list-product .product .title h3 {
          font-size: 1.5rem;
          font-weight: 700;
          text-align: center; }
      main .wrapper .list-product .product .des {
        position: relative;
        margin: 18px 0;
        font-size: 0.8rem;
        padding: 0 15px;
        line-height: 1.2rem;
        color: #3eb6a7;
        text-align: justify; }
  main .wrapper.wrapper-hosting .price-title h2 {
    font-size: 2rem;
    color: #3eb5a7;
    text-align: center;
    font-weight: 700; }
  main .wrapper.wrapper-hosting .list-price {
    margin-top: 50px; }
    main .wrapper.wrapper-hosting .list-price .price {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
      position: relative;
      padding: 30px 30px 60px 30px;
      background-color: #fff; }
      main .wrapper.wrapper-hosting .list-price .price .title {
        transition: all .3s ease; }
        main .wrapper.wrapper-hosting .list-price .price .title h3 {
          font-size: 1.5rem;
          color: #3eb5a7; }
      main .wrapper.wrapper-hosting .list-price .price .laptop {
        width: 72.7272%;
        margin: 50px auto; }
      main .wrapper.wrapper-hosting .list-price .price .total-price {
        bottom: 10%;
        left: 0;
        right: 0;
        position: absolute;
        color: #3eb5a7;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        transition: all .3s ease; }
        main .wrapper.wrapper-hosting .list-price .price .total-price span {
          font-size: 1rem;
          font-weight: 400; }
      main .wrapper.wrapper-hosting .list-price .price .hardware-info {
        position: absolute;
        background-color: #fff;
        left: 0;
        right: 0;
        top: 90%;
        bottom: 0;
        overflow: hidden;
        z-index: 1;
        transition: all .3s ease;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px; }
        main .wrapper.wrapper-hosting .list-price .price .hardware-info p {
          font-size: 1rem;
          text-align: center;
          padding: 5px 0;
          color: #3eb5a7; }
        main .wrapper.wrapper-hosting .list-price .price .hardware-info ul {
          opacity: 0; }
        main .wrapper.wrapper-hosting .list-price .price .hardware-info a {
          display: none;
          margin: 0 auto;
          font-size: 1rem;
          font-weight: 700;
          padding: 7px 20px;
          background-color: #3f7ec0;
          text-align: center;
          color: #fff;
          overflow: hidden;
          position: absolute;
          bottom: 5%;
          left: 50%;
          transform: translate(-50%, 0);
          width: fit-content; }
          main .wrapper.wrapper-hosting .list-price .price .hardware-info a::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -50px;
            width: 10px;
            height: 200%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: all .3s ease;
            transform: rotate(30deg);
            pointer-events: none; }
          main .wrapper.wrapper-hosting .list-price .price .hardware-info a:hover::before {
            left: 110%; }
      main .wrapper.wrapper-hosting .list-price .price:hover .title {
        opacity: 0; }
      main .wrapper.wrapper-hosting .list-price .price:hover .hardware-info {
        top: 15%;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 0 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
        main .wrapper.wrapper-hosting .list-price .price:hover .hardware-info p {
          font-size: 1rem;
          font-weight: 700; }
        main .wrapper.wrapper-hosting .list-price .price:hover .hardware-info ul {
          opacity: 1; }
        main .wrapper.wrapper-hosting .list-price .price:hover .hardware-info a {
          display: block; }
      main .wrapper.wrapper-hosting .list-price .price:hover .total-price {
        top: 2%;
        left: 0;
        right: 0;
        font-size: 1.5rem; }
  main .wrapper.wrapper-vps .vps-title h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #3eb5a7; }
  main .wrapper.wrapper-vps .list-vps {
    margin-top: 40px; }
  main .wrapper.wrapper-vps .vps {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    padding: 60px 0 100px 0;
    background-color: #fff;
    position: relative; }
    main .wrapper.wrapper-vps .vps > .price {
      font-size: 1rem;
      font-style: italic;
      color: #3eb5a7;
      font-weight: bold;
      padding-right: 5px;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: none;
      padding: 5px 10px;
      transition: all .3s ease; }
    main .wrapper.wrapper-vps .vps .hardware-vps {
      width: 100%;
      margin: 0 auto; }
    main .wrapper.wrapper-vps .vps .vps-info {
      position: absolute;
      width: 100%;
      top: 100%;
      background-color: #fff;
      transition: all .3s ease;
      padding: 10px 20px;
      bottom: -30px;
      transform: translate(0, -30px); }
      main .wrapper.wrapper-vps .vps .vps-info .price {
        font-weight: 900;
        font-size: 1rem;
        color: #3eb5a7;
        text-align: right;
        display: block;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      main .wrapper.wrapper-vps .vps .vps-info .des {
        display: none;
        font-size: 1rem;
        color: transparent;
        height: 80%; }
      main .wrapper.wrapper-vps .vps .vps-info a {
        display: none;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 700;
        padding: 10px 20px;
        background-color: #3f7ec0;
        text-align: center;
        color: #fff;
        overflow: hidden;
        position: relative;
        border-radius: 5px; }
        main .wrapper.wrapper-vps .vps .vps-info a::before {
          content: "";
          position: absolute;
          top: -50%;
          left: -50px;
          width: 10px;
          height: 200%;
          background-color: rgba(0, 0, 0, 0.2);
          z-index: 2;
          transition: all .3s ease;
          transform: rotate(30deg);
          pointer-events: none; }
        main .wrapper.wrapper-vps .vps .vps-info a:hover::before {
          left: 110%; }
    main .wrapper.wrapper-vps .vps:hover {
      background-color: #fff; }
      main .wrapper.wrapper-vps .vps:hover .price {
        display: block; }
      main .wrapper.wrapper-vps .vps:hover .vps-info {
        top: 25%;
        background-color: #fff; }
        main .wrapper.wrapper-vps .vps:hover .vps-info::before {
          display: none; }
        main .wrapper.wrapper-vps .vps:hover .vps-info::after {
          display: none; }
        main .wrapper.wrapper-vps .vps:hover .vps-info .price {
          display: none; }
        main .wrapper.wrapper-vps .vps:hover .vps-info .des {
          display: block;
          color: #fff;
          overflow-y: scroll; }
          main .wrapper.wrapper-vps .vps:hover .vps-info .des::-webkit-scrollbar {
            width: 4px;
            pointer-events: all; }
          main .wrapper.wrapper-vps .vps:hover .vps-info .des::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 10px;
            width: 2px; }
          main .wrapper.wrapper-vps .vps:hover .vps-info .des:hover::-webkit-scrollbar-thumb {
            background-color: #1f1f1f;
            transition: all .3s ease;
            opacity: 1; }
        main .wrapper.wrapper-vps .vps:hover .vps-info a {
          display: block; }
  main .wrapper.wrapper-firewall .firewall-title h2 {
    color: #3eb6a7;
    font-size: 2rem;
    font-weight: 900;
    text-align: center; }
  main .wrapper.wrapper-firewall .list-firewall {
    margin-top: 40px; }
    main .wrapper.wrapper-firewall .list-firewall .firewall {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
      position: relative;
      padding: 10px;
      background-color: #fff; }
      main .wrapper.wrapper-firewall .list-firewall .firewall .before-firewall {
        font-size: 0;
        transition: all .5s ease; }
        main .wrapper.wrapper-firewall .list-firewall .firewall .before-firewall .info {
          padding-right: 15px; }
          main .wrapper.wrapper-firewall .list-firewall .firewall .before-firewall .info h3 {
            font-size: 1.5rem;
            color: #3eb6a7;
            line-height: 1; }
          main .wrapper.wrapper-firewall .list-firewall .firewall .before-firewall .info .price {
            font-size: 1rem;
            color: #3eb6a7;
            padding: 10px 0; }
          main .wrapper.wrapper-firewall .list-firewall .firewall .before-firewall .info .des {
            font-size: 1rem;
            color: #3eb6a7;
            padding: 10px 0; }
        main .wrapper.wrapper-firewall .list-firewall .firewall .before-firewall .firewall-img {
          padding-left: 15px; }
      main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 0;
        padding: 10px;
        opacity: 0;
        transition: all .5s ease;
        padding-right: 15px;
        padding-left: 15px;
        height: 100%; }
        main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall img {
          width: 70%;
          margin-top: 10px; }
        main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall .price {
          font-size: 1rem;
          color: #3eb6a7;
          font-weight: 700;
          font-style: italic;
          padding: 7px 0; }
        main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall a {
          display: block;
          margin: 0 auto;
          font-size: 1.2rem;
          font-weight: 700;
          padding: 5px 20px;
          background-color: #315c95;
          text-align: center;
          color: #fff;
          overflow: hidden;
          border-radius: 5px;
          position: relative;
          cursor: pointer; }
          main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall a::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -50px;
            width: 10px;
            height: 200%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: all .3s ease;
            transform: rotate(30deg);
            pointer-events: none; }
          main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall a:hover::before {
            left: 110%; }
        main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall .des {
          font-size: 1rem;
          color: #3eb6a7;
          overflow-y: scroll;
          height: 50%;
          margin-top: 20px; }
          main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall .des::-webkit-scrollbar {
            width: 4px;
            pointer-events: all; }
          main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall .des::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 10px;
            width: 2px; }
          main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall .des:hover::-webkit-scrollbar-thumb {
            background-color: #1f1f1f;
            transition: all .3s ease;
            opacity: 1; }
      main .wrapper.wrapper-firewall .list-firewall .firewall.active .before-firewall {
        transform: rotatey(-360deg);
        opacity: 0;
        pointer-events: none; }
      main .wrapper.wrapper-firewall .list-firewall .firewall.active .after-firewall {
        background-color: #fff;
        opacity: 1;
        transform: rotatey(-360deg);
        padding: 0 15px; }
  main .wrapper.wrapper-server .server-title h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    color: #3eb5a7; }
  main .wrapper.wrapper-server .list-server {
    margin-top: 40px; }
    main .wrapper.wrapper-server .list-server .server {
      position: relative;
      background-color: #fff;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4); }
      main .wrapper.wrapper-server .list-server .server .server-img {
        margin-bottom: 50px; }
      main .wrapper.wrapper-server .list-server .server .server-img {
        padding: 12px 15px; }
      main .wrapper.wrapper-server .list-server .server .price {
        font-size: 1.3rem;
        padding: 7px 0;
        background-color: #fff;
        width: 100%;
        margin-top: 30px;
        color: #3eb6a7; }
      main .wrapper.wrapper-server .list-server .server .hover-server {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        transform: translate(-100%, 0);
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        z-index: 999; }
        main .wrapper.wrapper-server .list-server .server .hover-server .server-name {
          padding: 10px 5px;
          font-size: 1.5rem;
          color: #3eb6a7;
          border-bottom: 3px solid #afafaf; }
        main .wrapper.wrapper-server .list-server .server .hover-server .des {
          padding: 5px 5px;
          color: #fff;
          font-size: 1rem; }
        main .wrapper.wrapper-server .list-server .server .hover-server a {
          display: block;
          margin: 0 auto;
          font-size: 1rem;
          font-weight: 700;
          padding: 5px 20px;
          background-color: #315c95;
          text-align: center;
          color: #fff;
          overflow: hidden;
          position: absolute;
          bottom: 10px;
          width: fit-content;
          left: 50%;
          transform: translate(-50%, 0);
          border-radius: 5px; }
          main .wrapper.wrapper-server .list-server .server .hover-server a::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -50px;
            width: 10px;
            height: 200%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: all .3s ease;
            transform: rotate(30deg);
            pointer-events: none; }
          main .wrapper.wrapper-server .list-server .server .hover-server a:hover::before {
            left: 110%; }
      main .wrapper.wrapper-server .list-server .server:hover .hover-server {
        left: 20%;
        transform: translate(0, 0);
        transition: left .3s ease; }
  main .wrapper.wrapper-rack .rack-title h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #3eb6a7; }
  main .wrapper.wrapper-rack .list-rack {
    margin-top: 40px; }
    main .wrapper.wrapper-rack .list-rack .rack {
      position: relative;
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
      padding: 20px; }
      main .wrapper.wrapper-rack .list-rack .rack .rack-img {
        padding-left: 15px;
        padding: 15px;
        width: 50%;
        display: inline-block;
        font-size: 0;
        vertical-align: top; }
      main .wrapper.wrapper-rack .list-rack .rack .first-des {
        vertical-align: top;
        padding-right: 15px;
        display: inline-block;
        font-size: 0;
        width: 50%; }
        main .wrapper.wrapper-rack .list-rack .rack .first-des h3 {
          font-size: 1.5rem;
          color: #315c95; }
        main .wrapper.wrapper-rack .list-rack .rack .first-des .des {
          margin: 15px 0; }
          main .wrapper.wrapper-rack .list-rack .rack .first-des .des td {
            color: #000;
            font-size: 1rem; }
        main .wrapper.wrapper-rack .list-rack .rack .first-des a {
          font-size: 1rem;
          padding: 5px 20px;
          background-color: #315c95;
          color: #fff;
          overflow: hidden;
          position: relative;
          border-radius: 5px; }
          main .wrapper.wrapper-rack .list-rack .rack .first-des a::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -50px;
            width: 10px;
            height: 200%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: all .3s ease;
            transform: rotate(30deg);
            pointer-events: none; }
          main .wrapper.wrapper-rack .list-rack .rack .first-des a:hover::before {
            left: 110%; }
      main .wrapper.wrapper-rack .list-rack .rack .price {
        font-size: 1rem;
        padding: 9px 0;
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        color: #3eb6a7; }
      main .wrapper.wrapper-rack .list-rack .rack .hover-rack {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 100%;
        transform: translate(-100%, 0);
        background-color: #fff;
        overflow: hidden;
        z-index: 999; }
        main .wrapper.wrapper-rack .list-rack .rack .hover-rack .rack-name {
          padding: 7px 0;
          font-size: 1rem;
          color: #3eb6a7;
          border-bottom: 3px solid #bbbbbb; }
        main .wrapper.wrapper-rack .list-rack .rack .hover-rack .des {
          padding: 5px 5px;
          color: #fff;
          font-size: 1rem; }
        main .wrapper.wrapper-rack .list-rack .rack .hover-rack a {
          display: block;
          margin: 0 auto;
          font-size: 1rem;
          font-weight: 700;
          padding: 5px 20px;
          background-color: #325c96;
          text-align: center;
          color: #fff;
          overflow: hidden;
          position: absolute;
          bottom: 10px;
          width: fit-content;
          left: 50%;
          transform: translate(-50%, 0);
          border-radius: 5px; }
          main .wrapper.wrapper-rack .list-rack .rack .hover-rack a::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -50px;
            width: 10px;
            height: 200%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: all .3s ease;
            transform: rotate(30deg);
            pointer-events: none; }
          main .wrapper.wrapper-rack .list-rack .rack .hover-rack a:hover::before {
            left: 110%; }
      main .wrapper.wrapper-rack .list-rack .rack:hover .hover-rack {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        right: 20%;
        transform: translate(0, 0);
        transition: right .3s ease; }
  main .wrapper.wrapper-serverplace .serverplace-title h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #3eb6a7; }
  main .wrapper.wrapper-serverplace .list-serverplace {
    margin-top: 40px; }
    main .wrapper.wrapper-serverplace .list-serverplace .serverplace {
      position: relative;
      background-color: #fff;
      overflow: hidden;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
      padding: 20px; }
      main .wrapper.wrapper-serverplace .list-serverplace .serverplace .serverplace-img {
        width: 50%;
        display: inline-block;
        font-size: 0;
        padding-right: 15px; }
      main .wrapper.wrapper-serverplace .list-serverplace .serverplace .first-des {
        font-size: 0;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-left: 15px;
        position: relative; }
        main .wrapper.wrapper-serverplace .list-serverplace .serverplace .first-des h2 {
          font-size: 1.5rem;
          padding: 10px 20px;
          color: #325c96; }
        main .wrapper.wrapper-serverplace .list-serverplace .serverplace .first-des p {
          font-size: 1rem;
          color: #325c96;
          padding: 5px; }
        main .wrapper.wrapper-serverplace .list-serverplace .serverplace .first-des a {
          position: relative;
          display: block;
          margin: 20px auto 0 auto;
          width: fit-content;
          font-size: 1rem;
          font-weight: 700;
          padding: 5px 20px;
          background-color: #325c96;
          text-align: center;
          color: #fff;
          border-radius: 5px;
          overflow: hidden; }
          main .wrapper.wrapper-serverplace .list-serverplace .serverplace .first-des a::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -50px;
            width: 10px;
            height: 200%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: all .3s ease;
            transform: rotate(30deg);
            pointer-events: none; }
          main .wrapper.wrapper-serverplace .list-serverplace .serverplace .first-des a:hover::before {
            left: 110%; }
      main .wrapper.wrapper-serverplace .list-serverplace .serverplace .price {
        font-size: 1rem;
        padding: 12px 0px;
        background-color: #fff;
        width: 100%; }
      main .wrapper.wrapper-serverplace .list-serverplace .serverplace .hover-serverplace {
        position: absolute;
        top: 0;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        overflow: hidden;
        z-index: 999;
        transition: bottom .3s ease; }
        main .wrapper.wrapper-serverplace .list-serverplace .serverplace .hover-serverplace .serverplace-name {
          padding: 10px 5px;
          font-size: 1.5rem;
          color: #3eb6a7;
          border-bottom: 3px solid #7d93b0; }
        main .wrapper.wrapper-serverplace .list-serverplace .serverplace .hover-serverplace .des {
          padding: 5px 5px;
          color: #3eb6a7;
          font-size: 1rem; }
        main .wrapper.wrapper-serverplace .list-serverplace .serverplace .hover-serverplace a {
          display: block;
          margin: 0 auto;
          font-size: 1rem;
          font-weight: 700;
          padding: 5px 20px;
          background-color: #325c96;
          text-align: center;
          color: #fff;
          border-radius: 5px;
          overflow: hidden;
          position: absolute;
          bottom: 10px;
          width: fit-content;
          left: 50%;
          transform: translate(-50%, 0); }
          main .wrapper.wrapper-serverplace .list-serverplace .serverplace .hover-serverplace a::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -50px;
            width: 10px;
            height: 200%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: all .3s ease;
            transform: rotate(30deg);
            pointer-events: none; }
          main .wrapper.wrapper-serverplace .list-serverplace .serverplace .hover-serverplace a:hover::before {
            left: 110%; }
      main .wrapper.wrapper-serverplace .list-serverplace .serverplace:hover .hover-serverplace {
        bottom: 0;
        transform: translate(0, 0); }
      main .wrapper.wrapper-serverplace .list-serverplace .serverplace:hover::before {
        top: 100%; }
  main .wrapper.wrapper-sellserver .sellserver-title h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #3eb6a7; }
  main .wrapper.wrapper-sellserver .list-sellserver {
    margin-top: 40px; }
    main .wrapper.wrapper-sellserver .list-sellserver .sellserver {
      position: relative;
      padding: 20px 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
      background-color: #fff;
      overflow: hidden; }
      main .wrapper.wrapper-sellserver .list-sellserver .sellserver .before-sellserver {
        font-size: 0;
        transition: all .5s ease; }
        main .wrapper.wrapper-sellserver .list-sellserver .sellserver .before-sellserver .info {
          padding-right: 15px; }
          main .wrapper.wrapper-sellserver .list-sellserver .sellserver .before-sellserver .info h3 {
            font-size: 1.5rem;
            color: #3eb6a7;
            line-height: 1; }
          main .wrapper.wrapper-sellserver .list-sellserver .sellserver .before-sellserver .info .price {
            font-size: 1rem;
            color: #3eb6a7;
            padding: 10px 0; }
          main .wrapper.wrapper-sellserver .list-sellserver .sellserver .before-sellserver .info .des {
            font-size: 1rem;
            color: #3eb6a7;
            padding: 10px 0; }
        main .wrapper.wrapper-sellserver .list-sellserver .sellserver .before-sellserver .sellserver-img {
          padding-left: 15px; }
      main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
        font-size: 0;
        padding: 20px;
        opacity: 0;
        pointer-events: none;
        transition: all .5s ease;
        padding-right: 15px;
        padding-left: 15px;
        height: 100%; }
        main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver img {
          width: 70%;
          margin-top: 20px; }
        main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver .price {
          font-size: 1rem;
          color: #3eb6a7;
          font-weight: 700;
          font-style: italic;
          padding-bottom: 10px; }
        main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver a {
          display: block;
          margin: 0 auto;
          font-size: 1.5rem;
          font-weight: 700;
          padding: 5px;
          background-color: #325c96;
          text-align: center;
          border-radius: 5px;
          color: #fff;
          overflow: hidden;
          position: relative;
          cursor: pointer; }
          main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver a::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -50px;
            width: 10px;
            height: 200%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 2;
            transition: all .3s ease;
            transform: rotate(30deg);
            pointer-events: none; }
          main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver a:hover::before {
            left: 110%; }
        main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver .des {
          font-size: 1rem;
          color: #325c96;
          margin-top: 10px;
          overflow-y: scroll;
          height: 60%; }
          main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver .des::-webkit-scrollbar {
            width: 4px;
            pointer-events: all; }
          main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver .des::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 10px;
            width: 2px; }
          main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver .des:hover::-webkit-scrollbar-thumb {
            background-color: #1f1f1f;
            transition: all .3s ease;
            opacity: 1; }
      main .wrapper.wrapper-sellserver .list-sellserver .sellserver:hover .before-sellserver {
        opacity: 0;
        pointer-events: none; }
      main .wrapper.wrapper-sellserver .list-sellserver .sellserver:hover .after-sellserver {
        opacity: 1;
        bottom: 0;
        pointer-events: all; }
main .banner {
  text-align: center;
  margin-top: 50px; }
  main .banner .banner-title h3 {
    color: #3eb5a7;
    font-size: 1.5rem;
    text-align: center; }
  main .banner .banner-icons {
    vertical-align: bottom;
    margin-top: 40px; }
    main .banner .banner-icons .banner-icon {
      display: inline-block; }
      main .banner .banner-icons .banner-icon + .banner-icon {
        margin-left: 5.5%; }
main .banner-1 {
  background-image: linear-gradient(to right, #3eb6a7, #3f7ec0);
  margin-top: 66px;
  position: relative; }
  main .banner-1 h3 {
    font-size: 1.6rem;
    font-weight: 1100;
    padding: 25px 0 0 0;
    color: #000; }
  main .banner-1 p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 10px 0;
    color: #000; }
  main .banner-1.post {
    background-color: #fff;
    background-image: none;
    position: relative;
    margin: 0; }
    main .banner-1.post > * {
      position: relative;
      z-index: 2; }
    main .banner-1.post .hm-col-12 {
      padding-top: 50px;
      padding-bottom: 50px; }
    main .banner-1.post::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.5;
      z-index: 0; }
main .banner-2 {
  margin-top: 50px;
  text-align: center; }
  main .banner-2::before {
    content: '';
    display: block;
    padding-top: 25%; }
  main .banner-2 .hm-container {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 50%;
    width: 1200px;
    padding: 0 15px;
    transform: translate(-50%, 0); }
    main .banner-2 .hm-container h3 {
      font-size: 2rem;
      position: relative;
      top: 10px;
      width: 100%;
      text-align: center; }
    main .banner-2 .hm-container p {
      position: absolute;
      text-align: center;
      font-size: 1rem;
      top: 70px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%; }

/*===============footer======================*/
footer {
  padding: 45px 0;
  font-size: 0;
  background-image: linear-gradient(to right, #3eb6a7, #3f7ec0); }
  footer .hm-container-fluid {
    background-image: linear-gradient(to right, #3eb6a7, #3f7ec0); }
    footer .hm-container-fluid .hm-container .widgets {
      position: relative;
      z-index: 9; }
      footer .hm-container-fluid .hm-container .widgets .widget .widget-title {
        font-size: 1rem;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        padding: 14px 0; }
      footer .hm-container-fluid .hm-container .widgets .widget ul li a {
        padding: 7px 0;
        color: #fff;
        font-size: 1rem;
        font-weight: 300; }
      footer .hm-container-fluid .hm-container .widgets .widget ul li:hover a {
        color: #999; }
      footer .hm-container-fluid .hm-container .widgets .widget p a {
        padding: 7px 0;
        color: #fff;
        font-size: 1rem;
        font-weight: 300; }
      footer .hm-container-fluid .hm-container .widgets .widget p:hover a {
        color: #999; }
      footer .hm-container-fluid .hm-container .widgets .widget p ul li a {
        padding: 14px 0;
        color: #fff;
        font-size: 1rem;
        font-weight: 300; }
      footer .hm-container-fluid .hm-container .widgets .widget p ul li:hover a {
        color: #999; }
    footer .hm-container-fluid .hm-container .contact {
      position: relative;
      background-color: transparent;
      padding: 25px 20px; }
      footer .hm-container-fluid .hm-container .contact::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: .2;
        pointer-events: none; }
      footer .hm-container-fluid .hm-container .contact h3 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
        padding: 5px 0; }
      footer .hm-container-fluid .hm-container .contact p {
        font-size: 0.8rem;
        font-weight: 300;
        padding: 5px 0;
        color: #fff; }
    footer .hm-container-fluid .hm-container .list-payments {
      margin-top: 45px; }

/*====================FIXED=================*/
.direc {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 99999999999; }
  .direc ~ a {
    background-color: #3f7ec0;
    display: none; }
  .direc a {
    background-color: #3f7ec0;
    display: block;
    text-align: right;
    color: #fff;
    margin: 0;
    transition: all .3s ease;
    width: 40px;
    height: 40px;
    position: relative;
    transition: all .3s ease;
    left: 0;
    right: 0; }
    .direc a:hover {
      width: 70px; }
      .direc a:hover span {
        opacity: 1;
        pointer-events: auto; }
    .direc a i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .direc a span {
      position: absolute;
      top: 50%;
      left: 110%;
      transform: translate(0, -50%);
      width: 380px;
      text-align: left;
      opacity: 0;
      pointer-events: none;
      transition: all .3s ease;
      color: #3f7ec0; }

/*=====================MESSEGER=====================*/
#messeger {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none; }
  #messeger a {
    padding: 5px 7px;
    background-color: #0084ff;
    border-radius: 50%; }
    #messeger a i {
      font-size: 4.5rem;
      color: #fff; }

/*============CONTACT====================*/
main section#contact {
  color: #3eb5a7;
  margin-top: 50px; }
  main section#contact .title .contact-title h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center; }
  main section#contact .top-contact {
    margin-top: 20px; }
    main section#contact .top-contact .contact {
      text-align: center; }
      main section#contact .top-contact .contact .icon {
        font-size: 2.5rem;
        color: #1369bf; }
      main section#contact .top-contact .contact h3 {
        font-size: 1.5rem;
        font-weight: 700; }
      main section#contact .top-contact .contact p {
        font-size: 1rem;
        padding: 5px 0; }
main section#form-contact {
  color: #3eb5a7;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  z-index: 9; }
  main section#form-contact .form-title h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center; }
  main section#form-contact form {
    margin-top: 20px; }
    main section#form-contact form input, main section#form-contact form textarea {
      display: block;
      background-color: #baf3e8;
      color: #000;
      font-style: italic;
      padding: 25px;
      margin-top: 33px;
      width: 100%;
      border: none;
      text-rendering: none;
      transition: all .5s ease; }
      main section#form-contact form input:focus, main section#form-contact form textarea:focus {
        box-shadow: 1px 1px 15px 0 #fefbce; }
    main section#form-contact form textarea {
      height: 250px; }
  main section#form-contact .button-social {
    margin-top: 20px; }
    main section#form-contact .button-social .list-button .button > * {
      height: 46px;
      width: 100%;
      color: #fff;
      font-style: italic;
      font-size: 1rem;
      border: none;
      cursor: pointer; }
    main section#form-contact .button-social .list-button .button .submit {
      position: relative;
      background-color: #1369bf;
      border-bottom: 5px solid #0c3762; }
      main section#form-contact .button-social .list-button .button .submit::after {
        content: " ";
        position: absolute;
        height: 5px;
        bottom: -5px;
        left: 0;
        right: 100%;
        background-color: #03111f;
        transition: all .5s ease; }
      main section#form-contact .button-social .list-button .button .submit:hover::after {
        right: 0; }
    main section#form-contact .button-social .list-button .button .reset {
      color: #000; }
    main section#form-contact .button-social .socials .list-socials li {
      float: right;
      margin-left: 15px; }
      main section#form-contact .button-social .socials .list-socials li a {
        width: 45px;
        height: 45px;
        color: #fefbce;
        border: 5px solid #fefbce;
        border-radius: 50%;
        position: relative; }
        main section#form-contact .button-social .socials .list-socials li a i {
          font-size: 1rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }

/*# sourceMappingURL=style.css.map */
