body{
	background-color: #eee;
	color: #3C4858;
	font-weight: 300;

	a{
		color: #333;
	}

	a:hover{
		text-decoration: none;
		color: #333;
	}

	ul,li,ol{
		list-style-type: none;
	}

	.container-fluid{
		padding: 0;

		.wrapper{
			position: relative;
			top: 0;
			height: 100vh;

			@mixin sidebar-main(){
				-webkit-transition-property: top, bottom, width;
			    transition-property: top, bottom, width;
			    -webkit-transition-duration: .2s, .2s, .35s;
			    transition-duration: .2s, .2s, .35s;
			    -webkit-transition-timing-function: linear, linear, ease;
			    transition-timing-function: linear, linear, ease;
			    -webkit-overflow-scrolling: touch;
			}

			.sidebar{
				width: 100%;
				flex: 0 0 20%;
				max-width: 20%;
				height: 100%;
				max-height: 100%;
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				z-index: 2;
				background: #fff;
				padding: 0 15px;
				box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
				@include sidebar-main;



				.logo{
					padding: 15px 0px;
				    margin: 0;
				    display: block;
				    text-align: center;
				    border-bottom: 1px solid #b3b3b3b0;

				    a{
				    	font-size: 20px;
				    	text-transform: uppercase;
				    	font-weight: 500;
				    	display: block;
				    }
				}

				.sidebar_wrapper{
					overflow-y: scroll;
					height: 100vh;
					.nav{
						margin-top: 20px;

						.nav-item{
							padding: 5px 0;
							a{
								padding: 12px 25px;
								display: block;
								font-weight: 400;

								svg{
									font-size: 24px;
									margin: -4px;
								}

								span{
									padding-left: 20px;
								}
							}
						}

						li.active > a{
						    color: #fff;
						    font-weight: 500;
						    background-color: #9c27b0;
						    border-radius: 3px;
						    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
						}

						li:hover > a{
							background-color: #e8e5e5db;
							border-radius: 3px;
							transition: 0.5s;
						}
					}
				}
				.sidebar_wrapper::-webkit-scrollbar{
						width: 0px;
					}
				.sidebar_wrapper::-webkit-scrollbar-track {
					  	box-shadow: inset 0 0 5px grey;
					  	border-radius: 10px;
					}
				.sidebar_wrapper::-webkit-scrollbar-thumb {
					  	background: #068eff6e;
					  	border-radius: 10px;
					}
				.sidebar_wrapper::-webkit-scrollbar-thumb:hover {
					  	background: #b30000;
					}

				.sidebar_bg{
					position: absolute;
					z-index: -1;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					display: block;
					background-size: cover;
					background-position: center center;
					opacity: 0.1;
				}
			}

			.main{
				height: 100%;
				max-height: 100%;
				position: relative;
				width: 80%;
				max-width: 80%;
				float: right;
				@include sidebar-main;

				.navbar_top{
					.container-fluid{
						.navbar-collapse{
							.navbar-nav{
								.notification{
									position: relative;

									.number_notify{
										position: absolute;
									    z-index: 2;
									    top: -5px;
									    right: 15px;
									    font-size: 12px;
									    background-color: #ff0032;
									    border-radius: 40px;
									    width: 18px;
									    height: 18px;
									    text-align: center;
									    color: #fff;
									    font-weight: 500;
									}

									.dropdown-menu{
										margin: 0;
										padding: 0;
										.row{
											margin: 0;
										}
										.top_title{
											padding: 0 15px;
											span{
												font-size: 13px;
												font-weight: 500;
												margin-bottom: 0;
												line-height: 2em;
											}
											a{
												font-size: 13px;
												font-weight: 400;
											}
										}
										.notify_board{
											min-width: 400px;
											max-height: 415px;
											overflow: auto;
											.new_title{
												padding: 5px 15px;
											    font-size: 12px;
											    background-color: #e0e8e8b0;
											    font-weight: 500;
											    border-top: 1px solid #ced4da;
											}
											.new_notify{
												padding: 0;
												li{
													background-color: #626fff21;
													padding: 5px 15px;
													border-top: 1px solid #ced4da;
													.notify_content{
														line-height: 20px;
														a{
															font-size: 14px;
															padding: 0;
															font-weight: 400;
														}
													}
													.row{
														padding: 0;
													}
													.notify_option{
														.notify_time{
														    font-size: 11px;
														    font-weight: 400;
														    span{
														    	display: block;
														    	padding-top: 5px;
														    }
														}
														.notify_action{
															float: right;
															min-height: 24px;
															li{
																border: none;
																padding: 0 10px;
																background-color: #f8f9fa00;
																a{
																	font-size: 14px;
																	padding: 0;
																	color: #fff0;
																}
															}
														}
													}
												}
												li:hover, li:focus, li:visited{
													background-color: #c0e0ff;
													.notify_action{
														li a{
															color: #333;
														}
													}
												}
											}
										}
										.notify_board::-webkit-scrollbar{
												width: 5px;
											}
										.notify_board::-webkit-scrollbar-track {
											  	box-shadow: inset 0 0 5px grey;
											  	border-radius: 10px;
											}
										.notify_board::-webkit-scrollbar-thumb {
											  	background: #068eff6e;
											  	border-radius: 10px;
											}
										.notify_board::-webkit-scrollbar-thumb:hover {
											  	background: #b30000;
											}
									}
								}
								.dropdown_user{
									.dropdown-menu{
										margin: 0;
										padding: 0;
										li{
											a{
												display: block;
												padding: 5px 15px;
												svg{
													float: right;
													margin-top: 3px;
													font-size: 20px;
												}
											}
										}
										li:hover, li:focus, li:visited{
											a{
												background-color: #eee;
											}
										}
									}
								}
								.nav-item{
									padding: 0 10px;

									a{
										padding: 10px 15px;
										font-size: 18px;
									}

									a:hover{
										color: #c1a3a3 !important;
										transition: 1s;

										.number_notify{
											opacity: 0.5;
											transition: 1s;
										}
									}
								}
							}
						}
					}
				}

				.content{
					padding-top: 50px;
					.container-fluid{
						padding: 0 15px;
						.row{
							.card{
								box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
								.card-header{
									margin: -20px 15px 0 15px;
									box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
									background: linear-gradient(60deg, #ab47bc, #8e24aa);
									border-radius: 4px;
									.row{
										.card_title{
											h4{
												color: #fff;
												padding-top: 10px;
											}
										}
										.btn_add{
											a{
												svg{
													border-radius: 50%;
												    border: 2px solid #9d36b4;
												    color: #9d36b4;
												    width: 35px;
												    height: 35px;
												    padding: 6px;
												    margin-top: 7px;
												    background-color: #fff;
												}
											}
											a:hover{
												svg{
													border-color: #d4ff00;
												    color: #d4ff00;
												    transition: 1s;
												}
											}
										}
										.card_search{
											form{
												.input-group{
													.input_search{
														color: #fff;
														max-width: 400px;
													    border-top: none;
													    border-left: none;
													    border-right: none;
													    border-radius: unset;
													    border-bottom: 2px solid #fff;
													    background: #fff0;
													}
													.input_search::placeholder{
														color: #fff;
														font-style: italic;
													}
													.input_search:focus{
														box-shadow: none;
														border-bottom: 2px solid #d4ff00;
														transition-duration: 1s;
													}
													.btn{
													    border-radius: 50%;
													    color: #952cae;
													    border: 2px solid #952cae;
													    background-color: #fff;
													}
													.btn:hover, .btn:visited, .btn:focus{
														color: #ffc107;
														border-color: #ffc107;
													}
												}
											}
										}
									}
								}
								.card-body{
									table{
										tbody{
											tr{
												td{
													a{
														padding: 0 10px;
														svg{
														    width: 30px;
														    height: 30px;
														    border: 1px solid #ced4da;
														    border-radius: 50%;
														    padding: 7px;
														    color: #9931b0;
														}
													}
													a:hover{
														svg{
															color: #fff;
															background-color: #9931b0;
															border-color: #9931b0;
														    box-shadow: 5px 7px 6px #ced4da;
														}
													}
												}
											}
										}
									}
									form{
										.form-group{
											padding-top: 15px;
											margin: 15px 0;
										}
										.row{
											margin-left: 0;
											margin-right: 0;
											.form_mac{
												position: relative;
												.label_mac{
													position: absolute;
													top: 0;
													font-weight: 500;
													pointer-events: none;
												}
												.input_mac{
													padding-top: 0;
													padding-bottom: 0;
													padding-left: 0;
													border-top: 0;
													border-left: 0;
													border-right: 0;
													border-radius: 0;
												}
												.input_mac:disabled{
													background-color: unset;
												}
												.form-control:focus{
													box-shadow: none;
												}
												.select_mac{
													border-top: 0;
													border-left: 0;
													border-right: 0;
												    border-bottom-left-radius: 0;
												    border-bottom-right-radius: 0;
													padding-top: 0;
													padding-bottom: 0;
													padding-left: 0;
													font-weight: 500;
													margin-top: -13px;
													text-transform: uppercase;
													option{
														padding-left: 0;
													}
												}
											}
										}
										.password_form{
											display: none;
										}
									}
									.category_show{
										background-color: #eee;
										box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
										padding: 5px;
										margin-bottom: 7px;
										border: 1px solid #dee2e68f;
										p{
											margin: 0;
											font-weight: 500;
											text-transform: uppercase;
											font-size: 14px;
										}
									}
									.category_parent{
										
									}
									.category_child{
										margin-left: 30px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}