/*================================HEADER======================*/
header {
  width: 100%;
  position: relative; }
  header::before {
    content: '';
    display: block;
    padding-top: 23%; }
  header .hm-container-fluid {
    overflow: hidden;
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    height: 885px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    header .hm-container-fluid nav {
      position: absolute;
      padding: 15px 0 0 0;
      height: 7.11%;
      left: 15.7%;
      right: 15.7%;
      top: 0;
      z-index: 9; }
      header .hm-container-fluid nav .logo-nav {
        width: 9.8%;
        float: left; }
      header .hm-container-fluid nav .search-header {
        float: left;
        padding: 25px 0; }
        header .hm-container-fluid nav .search-header input {
          position: absolute;
          right: -5%;
          top: 60%;
          transform: translate(0%, -50%);
          width: 15px;
          height: 15px;
          border-radius: 30px;
          padding: 25px;
          border: 1px solid #bbb;
          transition: all .3s ease;
          background-color: #006699;
          border: none;
          font-style: italic;
          color: #fff;
          text-decoration: underline; }
          header .hm-container-fluid nav .search-header input:hover, header .hm-container-fluid nav .search-header input:focus {
            width: 30%;
            border-radius: 30px;
            padding: 20px 40px 20px 15px; }
        header .hm-container-fluid nav .search-header i {
          position: absolute;
          right: -4%;
          top: 60%;
          transform: translate(-50%, -50%);
          pointer-events: none;
          color: #cdcdcd; }
    header .hm-container-fluid .slide {
      position: absolute;
      left: 24.5%;
      right: 13.75%;
      top: 3%; }
      header .hm-container-fluid .slide .slide-img {
        position: absolute;
        left: -1000%;
        width: 59.4%;
        transition: all 2s cubic-bezier(0, 0.7, 0, 1.01); }
        header .hm-container-fluid .slide .slide-img.active {
          position: relative;
          top: 0;
          left: 0;
          margin: 0 auto; }
      header .hm-container-fluid .slide .title {
        position: absolute;
        top: 30%;
        left: -1000%;
        transform: translate(0%, -50%);
        font-size: 4rem;
        font-weight: 900;
        width: 100%;
        transition: all 2.5s cubic-bezier(0.29, 0.28, 0.57, 0.85); }
        header .hm-container-fluid .slide .title.active {
          top: 30%;
          left: 30%; }
      header .hm-container-fluid .slide .buy {
        position: absolute;
        padding: 7px 20px;
        font-weight: 700;
        z-index: 9;
        left: 50%;
        top: 1000%;
        transform: translate(-50%, -50%);
        color: #fff;
        background-color: #1c4dda;
        font-size: 1rem;
        border-radius: 30px;
        text-align: center;
        transition: all 1.5s ease; }
        header .hm-container-fluid .slide .buy.active {
          left: 50%;
          top: 75%; }
          header .hm-container-fluid .slide .buy.active:hover {
            background-color: #cc0099; }
    header .hm-container-fluid .wrapper-indicators {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      header .hm-container-fluid .wrapper-indicators .indicator {
        cursor: pointer;
        position: absolute;
        width: 0.625%;
        height: 1.356%;
        background-color: #fff;
        top: 91.5%;
        transform: translate(-50%, 0);
        transition: all .3s ease; }
        header .hm-container-fluid .wrapper-indicators .indicator:nth-child(1) {
          left: 84.37%; }
        header .hm-container-fluid .wrapper-indicators .indicator:nth-child(2) {
          left: 86.7%; }
        header .hm-container-fluid .wrapper-indicators .indicator:nth-child(3) {
          left: 89%; }
        header .hm-container-fluid .wrapper-indicators .indicator.active {
          cursor: auto;
          width: 1.82%;
          top: 89%;
          background-color: #2549b1; }
    header .hm-container-fluid .domain {
      top: 48%;
      left: 4%;
      width: 1.4%;
      cursor: pointer;
      position: fixed; }
    header .hm-container-fluid .logo-slide {
      width: 40%;
      opacity: .2;
      position: fixed;
      top: 22%;
      left: 0.8333%; }

main .banner-1 {
  margin-top: 30px; }

/*# sourceMappingURL=custom.css.map */
